<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration：核心配置文件：位置顺序是有要求的，按要求写。-->
<configuration>
    <!--1、导入外部配置文件properties文件:配置文件是最先读的，一定在最上面。-->
    <properties resource="db.properties"/>



    <!--2、日志工厂配置-->
    <settings>
        <!-- <setting name="logImpl" value="STDOUT_LOGGING"/>&lt;!&ndash;默认的标准日志工厂&ndash;&gt;-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>


    <!--3、配置别名,注意顺序-->
    <typeAliases>
        <typeAlias type="com.kuang.pojo.User" alias="User"/>
    </typeAliases>



    <environments default="development"><!--配置MyBatis的多套运行环境，将SQL映射到多个不同的数据库上，必须指定其中一个为默认运行环境（通过default指定）-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>


        <environment id="test"><!--环境-->
            <transactionManager type="JDBC"/><!--默认jdbc的事务管理-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis?useSSL=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=GMT"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>



    </environments>
    <!-- 映射器，注意：每一个mapper.xml都需要在mybatis的核心配置文件中，注册-->
    <mappers>
        <mapper resource="com/kuang/dao/UserMapper.xml"/><!--使用resource随便造，不会有任何问题-->
        <!--        <mapper class="com.kuang.dao.UserMapper"/>-->
        <!--        <package name="com.kuang.dao"/>  &lt;!&ndash;将包内的映射器接口实现全部注册为映射器&ndash;&gt;-->
    </mappers>



</configuration>

